# Convert CSV to SQLite Database
This notebook will read the CSV file `PUBLIC_ARCHIVE#DISPATCH_UNIT_SCADA#FILE01#202507010000.CSV` and save its contents into a SQLite database file in the project folder.

In [4]:
import pandas as pd
import sqlite3
import os

# Define file paths
csv_file = 'PUBLIC_ARCHIVE#DISPATCH_UNIT_SCADA#FILE01#202507010000.CSV'
db_file = 'dispatch_unit_scada.db'

# Read CSV file, skip the first row (notes), use the second row as header
df = pd.read_csv(csv_file, header=1)

# Save to SQLite database
conn = sqlite3.connect(db_file)
df.to_sql('dispatch_unit_scada', conn, if_exists='replace', index=False)
conn.close()

print(f"CSV data has been saved to {db_file}")

CSV data has been saved to dispatch_unit_scada.db

In [5]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('dispatch_unit_scada.db')

# Preview first 5 rows
df_head = pd.read_sql_query('SELECT * FROM dispatch_unit_scada LIMIT 5', conn)
print('First 5 rows:')
print(df_head)

# Get total row count
row_count = pd.read_sql_query('SELECT COUNT(*) as count FROM dispatch_unit_scada', conn)['count'][0]

# Preview last 5 rows
df_tail = pd.read_sql_query(f'SELECT * FROM dispatch_unit_scada LIMIT 5 OFFSET {row_count - 5}', conn)
print('\nLast 5 rows:')
print(df_tail)

conn.close()

First 5 rows:
   I  DISPATCH  UNIT_SCADA    1       SETTLEMENTDATE      DUID  SCADAVALUE  \
0  D  DISPATCH  UNIT_SCADA  1.0  2025/07/01 00:05:00    ADPBA1    -0.00100
1  D  DISPATCH  UNIT_SCADA  1.0  2025/07/01 00:05:00    ADPPV1     0.00000
2  D  DISPATCH  UNIT_SCADA  1.0  2025/07/01 00:05:00    AGLHAL    50.01986
3  D  DISPATCH  UNIT_SCADA  1.0  2025/07/01 00:05:00    AGLSOM    60.02500
4  D  DISPATCH  UNIT_SCADA  1.0  2025/07/01 00:05:00  ALDGASF1     0.00000

           LASTCHANGED
0  2025/07/01 00:00:12
1  2025/07/01 00:00:12
2  2025/07/01 00:00:12
3  2025/07/01 00:00:12
4  2025/07/01 00:00:12

Last 5 rows:
   I       DISPATCH  UNIT_SCADA    1       SETTLEMENTDATE   DUID  SCADAVALUE  \
0  D       DISPATCH  UNIT_SCADA  1.0  2025/08/01 00:00:00  YWPS4   392.62500
1  D       DISPATCH  UNIT_SCADA  1.0  2025/08/01 00:00:00  YWPS1   349.75000
2  D       DISPATCH  UNIT_SCADA  1.0  2025/08/01 00:00:00  YWPS2   364.00000
3  D       DISPATCH  UNIT_SCADA  1.0  2025/08/01 00:00:00  YWPS3   383.90625
4  C  END OF REPORT     4208704  NaN                 None   None         NaN

           LASTCHANGED
0  2025/07/31 23:55:15
1  2025/07/31 23:55:15
2  2025/07/31 23:55:15
3  2025/07/31 23:55:15
4                 None

In [6]:
import sqlite3
import pandas as pd

# Connect to the bronze database
conn_bronze = sqlite3.connect('dispatch_unit_scada.db')

# Read only the required columns
query = 'SELECT SETTLEMENTDATE, DUID, SCADAVALUE FROM dispatch_unit_scada'
df_silver = pd.read_sql_query(query, conn_bronze)
conn_bronze.close()

# Save to new silver database
conn_silver = sqlite3.connect('dispatch_unit_scada_silver.db')
df_silver.to_sql('dispatch_unit_scada_silver', conn_silver, if_exists='replace', index=False)
conn_silver.close()

print('Silver database created: dispatch_unit_scada_silver.db')

Silver database created: dispatch_unit_scada_silver.db